:root {
  --body-bg: #212121;
  --black: #1A1A1A;
  --orange: #FF9000;
  --white: #ffffff;
  --white-60: #FFFFFF90;
  --white-70: #FFFFFFb3;
  --solid-black: #000000;
  --btn-hover: #E07F00;

}


@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Gotham Bold'), url('./assets/fonts/GothamBold.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Gotham Medium'), url('./assets/fonts/Gothammedium.woff') format('woff');
}

@font-face {
  font-family: 'Outfit Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Outfit Regular'), url('./assets/fonts/OutfitRegular.woff') format('woff');
}

@font-face {
  font-family: 'Outfit Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Outfit Medium'), url('./assets/fonts/OutfitMedium.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gotham Medium';

}

body {
  background-color: var(--body-bg);
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15.2px 24px;
  background: var(--orange);
  border-radius: 12px;
  max-width: max-content;
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 500;
  color: var(--solid-black);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  border: 1px solid var(--orange);
  outline: none;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.btn.loading-s:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000FF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='12' r='3'%3E%3Canimate id='spinner_jObz' begin='0;spinner_vwSQ.end-0.25s' attributeName='r' dur='0.75s' values='3;.2;3'/%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='3'%3E%3Canimate begin='spinner_jObz.end-0.6s' attributeName='r' dur='0.75s' values='3;.2;3'/%3E%3C/circle%3E%3Ccircle cx='20' cy='12' r='3'%3E%3Canimate id='spinner_vwSQ' begin='spinner_jObz.end-0.45s' attributeName='r' dur='0.75s' values='3;.2;3'/%3E%3C/circle%3E%3C/svg%3E");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn:active {
  opacity: .5;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn-arrow {
  width: 30px;
  height: 18px;
}

header {
  padding: 65px 100px;
}

.logo {
  display: flex;
  width: 100%;
  max-width: 180px;
}

img {
  width: 100%;
  display: block;
}

header>.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  max-width: 1240px;
}

h1 {
  font-size: clamp(46px, 8vw, 70px);
  text-transform: capitalize;
  font-weight: 500;
}


h1 span {
  color: var(--orange);
  font-family: 'Gotham Bold';

}

h2 {
  font-size: clamp(30px, 6vw, 40px);
  font-weight: 500;
}

h2 span {
  color: var(--orange);

}

h3 {
  font-size: clamp(20px, 6vw, 30px);
}

h4 {
  font-family: 'Gotham Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

p {
  line-height: 1.6;
}

@media (max-width:1024px) {
  header {
    padding: 30px 30px 120px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 30px 15px 80px;
  }

  .btn-arrow {
    width: 20px;
    height: 18px;
  }

  .btn {
    gap: 10px;
    padding: 14px 18px;
    min-width: 136px;
    height: 52px;

  }
}